<h1>Authors</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Homepage</th>
  </tr>
  <% @authors.each do |author| %>
  <tr>
    <td><%= author.first_name %></td>
    <td><%= author.last_name %></td>
    <td><%= author.homepage %></td>
  </tr>
  <% end %>
</table>